# Java
*.class
*.log
*.jar

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Dossier de build (fichiers compilés, classes, jar, etc.)
build/

# Fichiers temporaires Gradle
.gradle/

# IDEs
.vscode/

